[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Cromite
Exec=chrome %U
Terminal=false
Icon=Cromite
StartupWMClass=Chromium-browser
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;

